
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    
        font-family: sans-serif;
        color: white;
    }
    html{
        background-color: white;
    }
    a{
        text-decoration: none;
    }
    
    
    
    /* nav */
    nav{
        display: flex;
        justify-content: space-between;
        align-items: centr;
        padding: 10px 8vw;
    
        background-image: linear-gradient(to bottom right, rgb(60, 56, 56), rgb(57, 41, 41));
    }
    nav .navlogo img{
        height: 50px;
    
    }
body{
    background-image: linear-gradient(to bottom right, rgb(3, 3, 65), rgb(118, 74, 146));
    color: white;

}
 
#main{
    width: 100%;
    height: 90vh;
    padding: 70px 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainleft h1{
    font-size: 52px;
    color: rgb(189, 13, 195);
}

.mainleft h4{
    font-size: 22px;
    font-weight: 100;
    color: rgba(255,255,255,0.705);
}

.mainleft h3{
    font-size: 32px;
    font-weight: 500;
    color: #707275;
}

.mainJam img{
    width: 35vw;
    max-width: 450px;
    transition: all 3s ease;
    animation: float 1.55s alternate-reverse infinite;
}
@keyframes float{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
#blogsec{
    color: white !important;
    width: 100%;
    margin: 0 auto;
    padding: 10x 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;   
}
.blogs{
    width: 60vw;
    padding: 30px;
    max-width: 750px;
    border-radius: 20px;
    background-color: rgba(148,197,197,0.1);
    border: 1px solid rgba(251,248,248,0.5);
}
.blogs:hover{
    cursor: pointer;
    scale: 1.01 1.01;
    background-color: rgba(222,255,255,0.12);
    border:1px solid rgba(251,248,248,0.5);
}
.blogs .blogstitle{
    width: auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: rgb(145, 43, 255);
}

.blogs .blogscontent{
    display: flex;
    /*justify-content: center;*/
    text-align: center;
    
}
.blogs .blogscontent .left{
    text-align: center;
}
.blogs .blogscontent .left img{
    
    max-width: 170px;
    border-radius: 10px;
}
.blogs .blogscontent .right{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    color: white;
}

.blogs .blogscontent .right .username{
    text-align: end;
    color:aqua;
}
footer{
    background-color: rgb(33, 32, 32);
    height: 280px;
    padding-top: 40px;
}
.foot{
    border-radius: 5px;
    display: flex;
    
    justify-content: center;
}
.foot .fl{
    display: flex;
    justify-content: center;
    width: fit-content;
}
.fr{
    display: flex;
    justify-content: center;    
}
.man {
    width: 75vh;
}
.man h2{
    
    color: rgb(104, 8, 206);
}
.foot .ft{
    color: white;
    font-weight: 200;
}
.foot .wht{
    color: #595964;
    
}
.foot .fw{
    color: white;
    width: 40%;
    
}
.foot .foo{
    
    color: #65656d;
}